<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Používateľské meno</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="name.errors && name.errors['required']">Meno je povinný parameter</mat-error>
                <mat-error *ngIf="name.errors && name.errors['minlength']">Meno musí mať aspoň
                    {{name.errors['minlength']['requiredLength']}} znakov ale má len
                    {{name.errors['minlength']['actualLength']}} znakov</mat-error>
                <mat-error *ngIf="name.errors && name.errors['conflict']">{{name.errors['conflict']}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error>{{stringify(email.errors)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Heslo</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-slide-toggle formControlName="active" color="primary">Aktívny</mat-slide-toggle>
            <div formArrayName="groups">
                <mat-checkbox *ngFor="let group of groups.controls; let i = index" [formControlName]="i">
                    {{allGroups[i].name}}
                </mat-checkbox>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Uložiť</button>
        </mat-card-actions>
    </mat-card>
</form>